.navbar {
  padding: 7px;
  margin: 7px;
  width: 95%;
  border-radius: 4px;
  background-color: #ff8484;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window {
  padding: 7px;
  margin: 7px;
  height: 300px;
  width: 95%;
  border-radius: 4px;
  background-color: #b4dffc;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.message {
  margin: 7px;
  max-width: 300px;
  width: fit-content;
  padding: 7px;
  border-radius: 4px;
  background-color: #aebcfd;
  display: flex;
}
.message .sent {
  background-color: gray;
}
.message .recieved {
  background-color: greenyellow;
}
.userAvatar {
  margin: 7px;
}
.userAvatar img {
  width: 40px;
  border-radius: 20px;
}
.timestamp {
  font-family: sans-serif;
  font-size: 9px;
  color: gray;
}
.messageText {
  font-family: sans-serif;
}
.typeForm {
  padding: 7px;
  margin: 7px;
  width: 95%;
  border: 1px solid black;
  border-radius: 4px;
}
.input {
  margin-right: 7px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #ffd9d9;
}
.sendButton {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #686af8;
}
.authBtn {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #68f86f;
}
.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #fff;
  animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}
