.navbar {
  padding: 7px;
  margin: 7px;
  width: 95%;
  border-radius: 4px;
  background-color: #ff8484;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.window {
  padding: 7px;
  margin: 7px;
  height: 300px;
  width: 95%;
  border-radius: 4px;
  background-color: #b4dffc;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}
.message {
  margin: 7px;
  max-width: 300px;
  width: fit-content;
  padding: 7px;
  border-radius: 4px;
  background-color: #aebcfd;
  display: flex;
  flex-direction: row;
}
.userAvatar {
  border-radius: 20px;
}
.userAvatar img {
  width: 40px;
}
.timestamp {
  font-family: sans-serif;
  font-size: 9px;
  color: gray;
}
.messageText {
  font-family: sans-serif;
}
.typeForm {
  padding: 7px;
  margin: 7px;
  width: 95%;
  border: 1px solid black;
  border-radius: 4px;
}
.input {
  margin-right: 7px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #ffd9d9;
}
.sendButton {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #686af8;
}
.authBtn {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #68f86f;
}
