.navbar {
  padding: 7px;
  margin: 7px;
  width: 95%;
  border-radius: 4px;
  background-color: #ff8484;
}
.window {
  padding: 7px;
  margin: 7px;
  height: 300px;
  width: 95%;
  border-radius: 4px;
  background-color: #b4dffc;
}
.message {
  margin: 7px;
  width: 30%;
  padding: 7px;
  border-radius: 4px;
  background-color: #aebcfd;
}
.typeform {
  padding: 7px;
  margin: 7px;
  width: 95%;
  border: 1px solid black;
  border-radius: 4px;
}
.input {
  margin-right: 7px;
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #ffd9d9;
}
.send {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #686af8;
}
